@import url("common.css");
@import url("side_menu.css");
main ul {
    margin-top: 1em;
}

main li {
    font-size: 1.15em;
    margin-bottom: 1em;
}


ul {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.classroom {
    margin-top: 6em;
    margin-bottom: 1em;
    clear: both;
    overflow: hidden;
}

.classroom img {
    float: left;
    margin-right: 2.5em;
}

.classroom p {
    font-size: 1.15em;
}

#curriculum-container {

    margin-left: 40px;

}

.inner-ul {
    margin-left: 40px;
}

#value-btn {
    color: #a51417;
    border: #a51417;
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    font-size: 1rem;
    line-height: 1.1;
    padding: 8px 20px;
    text-decoration: none;
}